body{
   margin: 0;
   text-align: center;
   font-family: "Merriweather", serif;
}
.pro{
    text-decoration: underline;
    font-family: "Montserrat";
    font-weight: normal;
}
.programmer{
    font-family: "Montserrat";
    color: #161D6F;
}

h1{
    margin-top: 50px auto 0 auto ;
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
    color: #161D6F;
    font-weight: 10px;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #161D6F;
    font-weight: normal;
}
h3{
    font-family: "Montserrat", sans-serif;
    color:#11999E;
}
hr{
    border-style: none;
    border-top-style: dotted;
    background-color: #EAF6F6;
    border-width: 5px;
    width: 5%;
}


.top-container{
    background-color: #6A9AB0;
    position: relative;
    padding-top: 170px;
}
.hello-desc{
    color: #40514E;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.web-programming{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.codeground{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.WebD{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.middle-container{
    margin: 50px auto auto auto;
}
.Details-to-connect{
    width: 40%;
    margin: 40px auto 60px auto;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 30px;
    margin: 40px 0 0  auto;
}
.top-cloud{
    position: absolute;
    right:400px;
    top:50px;

}

.bottom-cloud{
    position:absolute;
    left:90px;
    top: 100px;;

}
.birds{
    position: absolute;
    left:220px;
}
.mountain{
    height: 400px;
    width:1200px;
}
.btn {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #11999e);
    background-image: -moz-linear-gradient(top, #11999E, #11999e);
    background-image: -ms-linear-gradient(top, #11999E, #11999e);
    background-image: -o-linear-gradient(top, #11999E, #11999e);
    background-image: linear-gradient(to bottom, #11999E, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #11999E 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
a{
    color: #161D6F;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}